header {
background-color: #7047EB;
padding: 10px;
padding-left: 20vw;
display: flex;
padding-right: 20vw;
}
header img {
    width: 150px;
    border-radius: 5px;
    display: block;
    align-self: center;
    height: 210px;
}
header p {
    display: flex;
    flex-direction: column;
}
header div {
    padding: 10px;
    color: #fff;
}
header div a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 4px 10px;
    margin: 7px;
    border: 2px solid #fff;
}
header div a:hover {
    background-color: #fff;
    color: #7047EB;
}
#main h4 {
    font-family: 'Manrope', sans-serif;
}

#watchlist, #popularList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    
    }
    #watchlist a, #popularList a {
        text-decoration: none;
    }
    #watchlist li, #popularList li {
        width: 170px;
        display: flex;
        border-radius: 5px;
        height: 250px;
        padding: 5px;
        text-align: center;
        margin:5px;
        
    }
    #watchlist li:hover {
        background-color: #242424;
        text-decoration: underline;
         
    }
    #watchlist li section, #popularList li section {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #watchlist li img, #popularList li img {
        width: 150px;
        border-radius: 5px;
        display: block;
        align-self: center;
        height: 210px;
    }
    #watchlist li span, #popularList li span {
        white-space: nowrap;
        text-decoration: none;
        overflow: hidden;
        display: inline;
        text-overflow: ellipsis;
        color: #fff;
        max-width: 150px;
    }
    #watchlist li button {
        position: relative;
    }

    @media only screen and (max-width:800px) {
header {
    padding: 10px;
    display: block;
}
header div small p {
display: none;
}
                     }
