@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 100s;
}

body {
    font-family: 'Sora', sans-serif;
    background-color: #fff;
    color: #000;
}
#brand {
    font-size: large;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7047EB;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: large;
}
nav ul li {
    padding: 8px;
    margin: 5px;
}
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    }
nav ul li a:hover {
    text-decoration: underline;
    }
i:hover, a:hover {
    cursor: pointer;
}
#main {
    padding: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
}
dialog:modal {
    scale: 2;
    border: none;
}
dialog i {
    font-size: 4em;
}

@media only screen and (max-width:800px) {
    #main {
        margin: 0;
    }
             }
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #121212; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }